name: Go

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.21' # 或者使用 'stable'
          cache: true        # 开启自动缓存，加快构建速度

      - name: Verify dependencies
        run: go mod tidy && git diff --exit-code
        #这一步是为了确保你的 go.mod 和 go.sum 是干净且最新的

      - name: Test with Race Detection
        # 关键：在 Linux CI 环境下，一定要开启 -race
        # 这能帮你发现极其隐蔽的并发 Bug
        run: go test -v -race ./...

      - name: Benchmark
        # 对所有包运行基准测试
        run: go test -bench=. -benchmem ./...
